.paper {
    padding: 10px 0 15px 0;
    overflow: hidden;
}
.question {
    margin: 10px auto;
}
.option {
    margin: 10px 0;
}
.question-manage {
    padding: 0;
    margin: 10px 0;
}
.options {
    padding: 0 15px 0 0;
}
textarea {
    margin: 10px 0;
}